.wrapper {
  height: 100vh;
  /*This part is important for centering*/
  display: grid;
  place-items: center;
}

.typing-demo {
  width: 80ch;
  animation: typing 6s steps(100), blink .5s step-end infinite alternate;
  white-space: nowrap;
  overflow: hidden;
  border-right: 1px solid;
  font-family: monospace;
  font-size: 2em;
}

@keyframes typing {
  from {
    width: 0
  }
}
    
@keyframes blink {
  50% {
    border-color: transparent
  }
}

h3 { 
  text-align: center;
  text-decoration: underline;
    position:relative;
  bottom: 200px;
  
}

a { 
  text-align: center;
  position: relative;
bottom: 320px;
}
